<tui-root>
  <h1>Dynamic form demo</h1>

  <div class="main">
    <lib-dynamic-reactive-form [fieldset]="leftForm" [errors]="errors" #mainForm></lib-dynamic-reactive-form>
    <div class="values">
      <div *ngFor="let field of mainFormValues">
        <span>{{ field.key }}:&nbsp;</span>
        <span>{{ field.value }}</span>
      </div>
    </div>
  </div>

  <div class="toggle">
    <lib-dynamic-reactive-form [fieldset]="toggleSet" [errors]="errors" #toggleForm></lib-dynamic-reactive-form>
    <div class="values">
      <div *ngFor="let field of toggleFormValues">
        <span>{{ field.key }}:&nbsp;</span>
        <span>{{ field.value }}</span>
      </div>
    </div>
  </div>
</tui-root>
